@model Pedagog_MVC.Models.Razredni_odjel

<script src="@Url.Content("~/Scripts/js/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/js/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/js/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Info o odabranom odjelu</h4>
        </div>
        @using (Ajax.BeginForm("InfoOdjel", "RazredniOdjeli", new AjaxOptions
        {
            HttpMethod = "Get",


        }, new { @class = "form-horizontal", role = "form" }))


        {
            <div class="modal-body">
                <div class="form-horizontal">


                    <div class="row">
                        <div class="col-md-5">
                            <b>Školska godina:</b>
                        </div>
                        <div class="col-md-7">
                            @Model.godina
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <b>Naziv:</b>
                        </div>
                        <div class="col-md-7">
                            @Model.naziv
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <b>Razred:</b>
                        </div>
                        <div class="col-md-7">
                            @Model.razred
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <b>Razrednik:</b>
                        </div>
                        <div class="col-md-7">
                            @Model.id_razrednik
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <b>Osnovna/Srednja škola:</b>
                        </div>
                        <div class="col-md-7">
                            @Model.os_ss
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <b>Program:</b>
                        </div>
                        <div class="col-md-7">
                            @Model.program
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <b>Broj učenika:</b>
                        </div>
                        <div class="col-md-7">
                            @Model.broj_m
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <b>Broj učenica:</b>
                        </div>
                        <div class="col-md-7">
                            @Model.broj_z
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <b>Usmjerenje:</b>
                        </div>
                        <div class="col-md-7">
                            @Model.usmjerenje
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">

                                <a href="@Url.Action("TablesRazredniOdjel")" class="btn btn-default btn-md btn-grad">Povratak</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

