@model Pedagog_MVC.Models.Razredni_odjel

@{
    ViewBag.Title = "ObrisiOdjel";
}

<h2>ObrisiOdjel</h2>

<h3>Jeste li sigurni da ovo želite obrisati?</h3>
<div>
    <h4>Razredni_odjel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.godina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.godina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.razred)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razred)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_razrednik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_razrednik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.os_ss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.os_ss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.program)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.program)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usmjerenje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usmjerenje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.broj_z)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.broj_z)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.broj_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.broj_m)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Povratak na popis", "TablesRazredniOdjel")
        </div>
    }
</div>
